<!doctype html>
<html>
	<head>
		<style>
		@import url('css/bootstrap.min.css');
		@import url('css/pro.css');
		@import url('css/font-awesome-4.3.0/css/font-awesome.min.css');
		</style>
		
		<script src="js/jquery-1.3.2.min.js"></script>
		<script src="js/hide.js"></script>
		<script src="js/angular.min.js"></script>
        <script src="js/bookApp.js"></script>
        <script src="js/isbn.js"></script>
	</head>
<body>
<div class="jumbotron">

<p class="dev">
developed by
<img src="images/vigneswar.jpg" class="img-circle" height="70" width="70"/>
vigneswar
<img src="images/giri.jpg" class="img-circle" height="70" width="70"/>
giri aditya
<img src="images/pvp.jpg" class="img-circle" height="70" width="70"/>
college:p.v.p.siddhartha
<img src="images/pipe-dream.jpg" class="img-circle" height="70" width="70"/>
team:pipedream
</p>
</div>
<div class="gap">
</div>
<div ng-app="bookApp" ng-controller="isbn" class="container">
<form ng-submit='search()'>
    <div class="form-group col-md-4">
    <input ng-model="isbn_number" class="form-control form-inline" type="text" placeholder="ISBN number of book">
        <button type="submit" class="btn btn-primary form-inline">search</button>
        </div>
    </form>
<div>
<div class="gap">
</div>
    <div ng-repeat="x in results" class="col-md-12">
        <div class="container panel panel-success col-md-4 left bookres" ng-repeat="y in x.data">
           
           <div class="panel-body">
            <strong>{{y.Seller_Name}}</strong><br>
            price:  {{y.Best_Price}}
           </div>
            <a href={{y.Uri}}><button class="btn btn-success"> go to store</button></a>
            <div>
    </div>
    </div>
</div>
        
	
	
</body>
</html>